In [2]:
x=10
type(10) #### or type(x)

int

In [6]:
y=10.78
type(y)

float

#### float=decimal point, similarly normal text in apostrophies is called str (string)

In [8]:
y=true
type(y) #### Shoould be in capitals

NameError: name 'true' is not defined

In [16]:
y=False
type(y) #### bool means boolean,i.e 0 & 1; same for true

bool

## List

In [12]:
sample-list=[11,12.4,girl,true]
sample-list ### It has various errors

SyntaxError: cannot assign to operator (408198435.py, line 1)

In [13]:
sample_list=[11,12.4,'girl',True]
sample_list

[11, 12.4, 'girl', True]

In [14]:
type(sample_list)

list

#### List refers to a heterogenous collection of data types; list items are written in square brackets.
#### Also numbering of list items or the index of the list starts from zero

In [19]:
sample_list[2]

'girl'

In [20]:
sample_list[2]='man'
sample_list

[11, 12.4, 'man', True]

#### This method is used for replacing list items; this feature is called list 'mutability'

## Tuple

In [31]:
sample_tuple=11,12.4,"girl",True
sample_tuple

(11, 12.4, 'girl', True)

In [35]:
type(sample_tuple)

tuple

#### If you write list instead of tuple, still it shows type as tuple; It works if you write in round bracket or even without brackets, unlike lists which requires square brackets; everything else is same, except tuple is immutable but list is mutable.

In [33]:
sample_tuple[2]

'girl'

In [34]:
sample_tuple[2]='man'
sample_tuple

TypeError: 'tuple' object does not support item assignment

## Set

In [36]:
sample_set={0,1,2,3,4,11.3,17,9,4,3,2,"hi","hello","apple"}
sample_set

{0, 1, 11.3, 17, 2, 3, 4, 9, 'apple', 'hello', 'hi'}

In [37]:
sample_set[2]

TypeError: 'set' object is not subscriptable

In [38]:
type(sample_set)

set

In [40]:
sample_set.add(100)
sample_set

{0, 1, 100, 11.3, 17, 2, 3, 4, 9, 'apple', 'hello', 'hi'}

In [41]:
sample_set.remove(1)
sample_set

{0, 100, 11.3, 17, 2, 3, 4, 9, 'apple', 'hello', 'hi'}

#### Properties of Set: Heterogenous, Curly Brackets, Ordering Done according to first place, No Duplicates, Non-Indexable, Immutable (through add and remove but not through index)

## Dictionary

In [45]:
sample_dict={"a":"alpha","b":"beta","4":"hi","d":"123","4":"123","b":"beta","x":"alpha"}
sample_dict

{'a': 'alpha', 'b': 'beta', '4': '123', 'd': '123', 'x': 'alpha'}

In [47]:
sample_dict["4"]

'123'

In [49]:
sample_dict["b"]=200
sample_dict

{'a': 'alpha', 'b': 200, '4': '123', 'd': '123', 'x': 'alpha'}

#### Properties of Dictionary: Heterogenous, Curly Brackets, Indexable using keys, has a KEY-VALUE pair relatioship where keys should be unique but values can be repeated, in case of multiple repeated keys, it takes the value for the keys which is stated later (in last), mutable using keys